<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../vendor/autoload.php"
         cacheResultFile="../var/cache/.phpunit.result.cache"
         executionOrder="random"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>../src/ApiGateway/Http/Test</directory>
            <directory>../src/Component/Configuration/Test</directory>
            <directory>../src/Component/Slim/Test</directory>
            <directory>../src/Component/Symfony/Test</directory>
            <directory>../src/Application/Authentication/Test</directory>
        </testsuite>
    </testsuites>
</phpunit>
