---
user:
path_project:
repo:
mysql_application_user:
mysql_application_password:
mysql_application_db:
mysql_root_password:
path:
php_version:
config:
APPLICATION_ENVIRONMENT:
APPLICATION_DEBUG:
MYSQL_HOST:
MYSQL_USER:
MYSQL_PASSWORD:
MYSQL_DATABASE:
MYSQL_CHARSET:
dir:
user_name:
user_password: